@using DbLocalizationProvider
@using DbLocalizationProvider.MvcSample.Resources
@model DbLocalizationProvider.MvcSample.Models.HomeViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Home Controller</title>
</head>
<body>
<div>
    UICulture : @UICulture <br/>
    <h1>@Html.Translate(() => HomePageResources.Header)</h1>
    <h4>@Html.TranslateFor(m => m.CustomMessage)</h4>
</div>
<div>
    @Html.ValidationSummary()
    <form method="post">
        <div>
            @Html.LabelFor(m => m.Message)
            @Html.EditorFor(m => m.Message)
            @Html.ValidationMessageFor(m => m.Message)
        </div>
        <div>
            @Html.EditorFor(m => m.Username)
        </div>
        <div>
            @Html.EditorFor(m => m.BaseUsername)
        </div>
        <input type="submit" />
    </form>
</div>
</body>
</html>