@using DbLocalizationProvider
@using DbLocalizationProvider.MvcSample.Resources
@model DbLocalizationProvider.MvcSample.Models.HomeViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Home Controller</title>
</head>
<body>
<div>
    UICulture : @UICulture <br/>
    <h1>@Html.Translate(() => HomePageResources.Header)</h1>
    <h4>@Html.TranslateFor(m => m.CustomMessage)</h4>
</div>
<div>
    @Html.ValidationSummary()
    <form method="post">
        <div>
            @Html.LabelFor(m => m.Message)
            @Html.EditorFor(m => m.Message)
            @Html.ValidationMessageFor(m => m.Message)
        </div>
        <div>
            @Html.LabelFor(m => m.ResourceKeyProperty)
            @Html.EditorFor(m => m.ResourceKeyProperty)
            @Html.ValidationMessageFor(m => m.ResourceKeyProperty)
        </div>
        <div>
            @Html.EditorFor(m => m.Username)
        </div>
        <div>
            @Html.EditorFor(m => m.BaseUsername)
        </div>
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email)
        </div>
        <div>
            @Html.EditorFor(m => Model.Address.Street)
        </div>
        <div>
            Type: @Html.Translate(Model.Address.Type)
        </div>
        <div>
            City Type: @Html.Translate(Model.Address.CityType)
        </div>
        <input type="submit" />
    </form>
</div>
<div>
    Model.ThisIsField: @Html.TranslateFor(m => m.ThisIsField)
</div>
<div>
    Model.ThisIsBaseField: @Html.TranslateFor(m => m.ThisIsBaseField)
</div>
<div>
    HomePageResources.SameFieldResource: @Html.Translate(() => HomePageResources.SameFieldResource)
</div>
<div>
    HomePageResources.WithCustomAttribute (TableHeaderTitle): @Html.Translate(() => HomePageResources.WithCustomAttribute, typeof(TableHeaderTitleAttribute))
</div>

<div>
    ForeignResource: @Html.Translate(() => ForeignResources.ForeignProperty)
</div>
<div>
    UseResource (m.Ok => CommonResourcesOk): @Html.TranslateFor(m => m.Ok)
</div>
</body>
</html>
