@using System.Globalization
@using DbLocalizationProvider
@using DbLocalizationProvider.EPiServer.JsResourceHandler
@using DbLocalizationProvider.EPiServer.Sample.Infrastructure
@using DbLocalizationProvider.EPiServer.Sample.Resources
@using EPiServer.Framework.Localization
@model DbLocalizationProvider.EPiServer.Sample.Models.ViewModels.StartPageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    @Html.GetTranslations(typeof(MyProject.MyResources), alias: "m", debug: true)
    @Html.GetTranslations(typeof(MyProject.AlternativeResources), alias: "ar", debug: true)
    @Html.GetTranslations(typeof(MyProject.ContainerClass.NestedClass.TheResourceClass))
</head>
<body>
<div>CurrentUICulture: @CultureInfo.CurrentUICulture.Name</div>
<div>MessageWithFormatArguments: @LocalizationService.Current.GetString(() => Class1.MessageWithFormatArguments, "$$$")</div>
<div>
    Android (lambda): @Html.Translate(() => ResolutionResources.AndroidVertical)
</div>
<div>
    Android (stringly): @Html.Translate("/resolutions/androidvertical")
</div>
<form>
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.EditorFor(m => m.Username)
    </div>
</form>

<div>
    <span>This is coming from JS (MyProject.MyResources.FirstProperty):</span><span id="theJsPlaceholder"></span>
</div>
<div>
    <span>This is coming from JS (MyProject.AlternativeResources.ForthProperty):</span><span id="theJsPlaceholder2"></span>
</div>
<div>
    <span>This is coming from JS MyProject.ContainerClass+NestedClass+TheResourceClass.SomeKey):</span><span id="theJsPlaceholder3"></span>
</div>

<script type="text/javascript">
    document.getElementById('theJsPlaceholder').innerHTML = window.m.MyProject.MyResources.FirstProperty;
    document.getElementById('theJsPlaceholder2').innerHTML = window.ar.MyProject.AlternativeResources.ForthProperty;
    document.getElementById('theJsPlaceholder3').innerHTML = window.jsl10n.MyProject.ContainerClass.NestedClass.TheResourceClass.SomeKey;
</script>

<div>
    LabelFor(XPathProperty): @Html.LabelFor(m => m.XPathProperty)
</div>
</body>
</html>
