@using System.Globalization
@using DbLocalizationProvider
@using DbLocalizationProvider.EPiServer.Sample
@using DbLocalizationProvider.EPiServer.Sample.Infrastructure
@using DbLocalizationProvider.EPiServer.Sample.Resources
@using EPiServer.Framework.Localization
@model DbLocalizationProvider.EPiServer.Sample.Models.ViewModels.StartPageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>CurrentUICulture: @CultureInfo.CurrentUICulture.Name</div>
<div>MessageWithFormatArguments: @LocalizationService.Current.GetString(() => Class1.MessageWithFormatArguments, "$$$")</div>
<div>
    Android (lambda): @Html.Translate(() => ResolutionResources.AndroidVertical)
</div>
<div>
    Android (stringly): @Html.Translate("/resolutions/androidvertical")
</div>
<form>
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.EditorFor(m => m.Username)
    </div>
</form>
</body>
</html>